@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --primary-color: #B9001F;
    --branco:rgb(255, 255, 255);
    --black: rgb(0,0,0);
}body {
    font-family: "Poppins", sans-serif;
}